/* color: #aaa;
color: #555;
font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
font-size: 14px; */

/* base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 144.4rem;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.4rem;
}

/* navigation */
.nav a {
  text-decoration: none;
}

.nav ul {
  list-style: none;
}

/* FIXEME:  */
.logo__main {
  display: none;
}

.nav__top {
  display: flex;
  background-color: #151515;
  padding: .8rem .5rem;
}

.nav__top a:link,
.nav__top a:visited {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 2rem;
}

.nav__top a:hover,
.nav__top a:active {
  color: white;
}

.nav__bottom {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(236, 233, 233);
  align-items: center;
}

.nav__bottom > a:link,
.nav__bottom > a:visited {
  font-weight: 200;
  font-size: 1.7rem;
  color: #AAA;
  padding: 1.2rem;
  border: 1px solid rgb(236, 233, 233);
}

.nav__bottom > a:hover i,
.nav__bottom > a:active i {
  color: #555;
}

.nav__list {
  display: flex;
  margin-left: 1rem;
}

.nav__list li {
  padding: 1.2rem 1.2rem;
}

.nav__list a {
  font-weight: 200;
  font-size: 1.6rem;
  color: #AAA;
}

/* articles */

.articles {
  display: flex;
  height: 51rem;
}

.article__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right bottom, rgba(255, 67, 34, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ytimg.com/vi/JXpoALotxf0/hqdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2;
}

.articles__aside {
  flex: 1;
}

.article__main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.article__main__top img{
  width: 50%;
}

.article__main__top p {
  align-self: flex-start;
  font-size: 1.5rem;
  color: #fff;
}

.article__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.article__box h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  width: 80%;
}

.article__box__list {
  display: flex;

}
